<footer class="bg-black-1 text-center text-white position-sticky">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4 d-flex justify-content-center ">
            <!-- AngularJS -->
            <a class="me-md-3 ms-md-3 me-2 ms-2 me-2 ms-2" href="https://angularjs.org/" alt="AngularJS logo"><img src="../../../assets/img/angular-icon-logo.png" alt=""></a>

            <!-- Azure -->
            <a class="me-md-3 ms-md-3 me-2 ms-2" href="https://azure.microsoft.com/es-es/" alt="Azure logo"><img src="../../../assets/img/azure-icon-logo.png" alt=""></a>

            <!-- C# -->
            <a class="me-md-3 ms-md-3 me-2 ms-2" href="https://docs.microsoft.com/es-es/dotnet/csharp/" alt="C# logo"><img src="../../../assets/img/csharp-icon-logo.png" alt=""></a>
            
            <!-- Github -->
            <a class="me-md-3 ms-md-3 me-2 ms-2" href="https://github.com/" alt="Github logo"><img src="../../../assets/img/github-icon-logo.png" alt=""></a>

            <!-- MySQL -->
            <a class="me-md-3 ms-md-3 me-2 ms-2" href="https://www.mysql.com/" alt="MySQL logo"><img src="../../../assets/img/mysql-icon-logo.png" alt=""></a>

            <!-- NodeJs -->
            <a class="me-md-3 ms-md-3 me-2 ms-2" href="https://nodejs.org/es/" alt="NodeJs logo"><img src="../../../assets/img/nodejs-icon-logo.png" alt=""></a>

            <!-- VS Code -->
            <a class="me-md-3 ms-md-3 me-2 ms-2" href="https://code.visualstudio.com/" alt="VS Code logo"><img src="../../../assets/img/vscode-icon-logo.png" alt=""></a>

            <!-- VS Community -->
            <a class="me-md-3 ms-md-3 me-2 ms-2" href="https://visualstudio.microsoft.com/es/vs/community/" alt="VS Community logo"><img src="../../../assets/img/vscommunity-icon-logo.png" alt=""></a>

            <!-- Bootstrap -->
            <a class="me-md-3 ms-md-3 me-2 ms-2" href="https://getbootstrap.com/" alt="VS Community logo"><img src="../../../assets/img/bootstrap-icon-logo.png" alt=""></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="container-fluid text-center p-5 bg-black-2">
        © 2021 - Carlos Palacios Alonso
    </div>
    <!-- Copyright -->
</footer>