<div class="p-4">
    <button class="btn btn-warning text-black mb-3 mt-3" (click)="addnewreview()">Add Row</button>
    <!--Datatable with Review Details-->
    <div class="table-responsive">
        <table class="table table-striped table-sm text-center" id="datatable">
            <thead class="bg-dark text-white">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Puntuacion</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">ID Usuario</th>
                    <th scope="col">ID Serie</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let group of data">
                    <td scope="row">{{group.idReview}}</td>
                    <td>{{group.titulo}}</td>
                    <td>{{group.descripcion}}</td>
                    <td>{{group.puntuacion}}</td>
                    <td>{{group.fecha}}</td>
                    <td>{{group.usuarioIdUsuario}}</td>
                    <td>{{group.serieIdSerie}}</td>
                    <td class="justify-content-around d-flex">
                        <button class="btn btn-success" (click)="editreview(group.idReview)"> <i class="fa fa-pencil"
                                aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger" (click)="deletereview(group.idReview)"> <i class="fa fa-trash"
                                aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Add Review Modal-->
<div class="modal" id="addReview">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title align-center">Review Details</h4>
                <button type="button" class="btn btn-danger" (click)="addClose()">Close</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="titulo">Titulo</label>
                            <input type="text" formControlName="titulo" class="form-control"
                                placeholder="example: A Masterpiece!"
                                [ngClass]="{ 'is-invalid': submitted && f.titulo.errors }" />
                            <div *ngIf="submitted && f.titulo.errors" class="invalid-feedback">
                                <div *ngIf="f.titulo.errors.required">Titulo is required</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="descripcion">Descripcion</label>
                            <input type="text" formControlName="descripcion" class="form-control"
                                placeholder="example: This is incredible"
                                [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" />
                            <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                                <div *ngIf="f.descripcion.errors.required">Descripcion is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="puntuacion">Puntuacion</label>
                            <app-custom-dropdown formControlName="puntuacion" [options]="optPuntuaciones"
                                [ngClass]="{ 'is-invalid': submitted && f.puntuacion.errors }"></app-custom-dropdown>
                            <div *ngIf="submitted && f.puntuacion.errors" class="invalid-feedback">
                                <div *ngIf="f.puntuacion.errors.required || f.puntuacion.errors.pattern">Puntuacion is
                                    required</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="idUsuario">ID Usuario</label>
                            <app-custom-dropdown formControlName="idUsuario" [options]="optUsuarios"
                                [ngClass]="{ 'is-invalid': submitted && f.idUsuario.errors }"></app-custom-dropdown>
                            <div *ngIf="submitted && f.idUsuario.errors" class="invalid-feedback">
                                <div *ngIf="f.idUsuario.errors.required || f.idUsuario.errors.pattern">ID Usuario is
                                    required</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="idSerie">ID Serie</label>
                            <app-custom-dropdown formControlName="idSerie" [options]="optSeries"
                                [ngClass]="{ 'is-invalid': submitted && f.idSerie.errors }"></app-custom-dropdown>
                            <div *ngIf="submitted && f.idSerie.errors" class="invalid-feedback">
                                <div *ngIf="f.idSerie.errors.required || f.idSerie.errors.pattern">ID Serie is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning w-100 mt-3">Add Review</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Edit Review-->
<div class="modal" id="editModal" *ngIf="showeditreview">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-center">Edit : {{reviewdata.titulo}}</h4>
                <button type="button" class="btn btn-danger close" (click)="editClose()">Close</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm" (ngSubmit)="onSubmitEdit()">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>titulo</label>
                            <input type="text" formControlName="titulo" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && fe.titulo.errors }" />
                            <div *ngIf="submitted && fe.titulo.errors" class="invalid-feedback">
                                <div *ngIf="fe.titulo.errors.required">Titulo is required</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Descripcion</label>
                            <input type="text" formControlName="descripcion" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && fe.descripcion.errors }" />
                            <div *ngIf="submitted && fe.descripcion.errors" class="invalid-feedback">
                                <div *ngIf="fe.descripcion.errors.required">Descripcion is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="puntuacion">Puntuacion</label>
                            <app-custom-dropdown formControlName="puntuacion" [options]="optPuntuaciones"
                                [ngClass]="{ 'is-invalid': submitted && fe.puntuacion.errors }"></app-custom-dropdown>
                            <div *ngIf="submitted && fe.puntuacion.errors" class="invalid-feedback">
                                <div *ngIf="fe.puntuacion.errors.required || fe.puntuacion.errors.pattern">Puntuacion is
                                    required</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="idUsuario">ID Usuario</label>
                            <app-custom-dropdown formControlName="idUsuario" [options]="optUsuarios"
                                [ngClass]="{ 'is-invalid': submitted && fe.idUsuario.errors }"></app-custom-dropdown>
                            <div *ngIf="submitted && fe.idUsuario.errors" class="invalid-feedback">
                                <div *ngIf="fe.idUsuario.errors.required || fe.idUsuario.errors.pattern">ID Usuario is
                                    required</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="idSerie">ID Serie</label>
                            <app-custom-dropdown formControlName="idSerie" [options]="optSeries"
                                [ngClass]="{ 'is-invalid': submitted && fe.idSerie.errors }"></app-custom-dropdown>
                            <div *ngIf="submitted && fe.idSerie.errors" class="invalid-feedback">
                                <div *ngIf="fe.idSerie.errors.required || fe.idSerie.errors.pattern">ID Serie is
                                    required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 form-group">
                            <label for="fecha">DateTime</label>
                            <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker
                                formControlName="fecha" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                placeholder="DateTime: YYYY-MM-DD"
                                [ngClass]="{ 'is-invalid': submitted && fe.fecha.errors }" type="text">
                            <div *ngIf="submitted && fe.fecha.errors" class="invalid-feedback">
                                <div *ngIf="fe.fecha.errors.required">DateTime is
                                    required
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning w-100 mt-3">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>