<main class="bg-black">
    <picture>
        <source media="(max-width: 640px)" srcset="../../../assets/img/cinema-640.jpg">
        <source media="(max-width: 1280px)" srcset="../../../assets/img/cinema-1280.jpg">
        <source media="(max-width: 1920px)" srcset="../../../assets/img/cinema-1920.jpg">
        <source media="(min-width: 1921px)" srcset="../../../assets/img/cinema-2400.jpg">
        <img src="../../../assets/img/cinema-1920.jpg" alt="" class="img-fluid border-0">
    </picture>
    <app-series></app-series>
</main>