<nav class="navbar navbar-expand-xl navbar-dark bg-black-1">
    <div class="container d-flex pt-2 pb-2">
        <a class="navbar-brand" routerLink="/">ISDb</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="flex-grow-1 d-flex position-relative ms-0 ms-xl-5 mt-3 mt-xl-0">
                <div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs w-100">
                    <div [ngbNavItem]="1">
                        <a ngbNavLink>Usuario</a>
                        <ng-template ngbNavContent>
                            <app-table-usuario></app-table-usuario>
                        </ng-template>
                    </div>
                    <div [ngbNavItem]="2">
                        <a ngbNavLink>Review</a>
                        <ng-template ngbNavContent>
                            <app-table-review></app-table-review>
                        </ng-template>
                    </div>
                    <div [ngbNavItem]="3">
                        <a ngbNavLink>Serie</a>
                        <ng-template ngbNavContent>
                            <app-table-serie></app-table-serie>
                        </ng-template>
                    </div>
                    <div [ngbNavItem]="4">
                        <a ngbNavLink>Reparto</a>
                        <ng-template ngbNavContent>
                            <app-table-reparto></app-table-reparto>
                        </ng-template>
                    </div>
                    <div [ngbNavItem]="5">
                        <a ngbNavLink>Role</a>
                        <ng-template ngbNavContent>
                            <app-table-role></app-table-role>
                        </ng-template>
                    </div>
                    <div [ngbNavItem]="6">
                        <a ngbNavLink>Genero</a>
                        <ng-template ngbNavContent>
                            <app-table-genero></app-table-genero>
                        </ng-template>
                    </div>
                    <div [ngbNavItem]="7">
                        <a ngbNavLink>Serie-Genero</a>
                        <ng-template ngbNavContent>
                            <app-table-serie-genero></app-table-serie-genero>
                        </ng-template>
                    </div>
                    <div [ngbNavItem]="8" [disabled]="true">
                        <a ngbNavLink >Serie-Reparto</a>
                        <ng-template ngbNavContent>
                            <app-table-serie-reparto></app-table-serie-reparto>
                        </ng-template>
                    </div>
                    <div [ngbNavItem]="9" [disabled]="true">
                        <a ngbNavLink>Reparto-Role</a>
                        <ng-template ngbNavContent>
                            <app-table-reparto-role></app-table-reparto-role>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="form-inline nav-item ms-xl-3 d-flex mt-3 mt-xl-0" *ngIf="currentUser">
                <button type="button" class="btn btn-warning  btn-theme ripple w-100" (click)="logout()"> Logout
                </button>
            </div>
        </div>
    </div>
</nav>
<main class="bg-dark">
    <div [ngbNavOutlet]="nav" class="container bg-white min-vh-100"></div>
</main>