.nav-link{
    color: orange;
}
.nav-link.active{
    color: black;
    background-color: orange;
    border: 1px solid orange;
    font-weight: 600;
}
.nav-link:hover{
    border: 1px solid orange;
}
.nav-tabs{
    border-bottom: 1px solid orange;
}

nav .btn{
    font-weight: bold;
}
main {
    min-height: 100%;
}